img {

}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
    margin: 0 auto;
}
ul .smallPicture {
    max-width: 100px;
    max-height: 100px;
}